
<%= form_for(@project) do |f| %>
	
	<div class="field">
		<%= f.label :name %><br/>
		<%= f.text_field :name %>
	</div>
	
	<div class="field">
		<%= f.label :description %><br/>
		<%= f.text_area :description %>
	</div>
	
	<div class="field">
		<%= f.label :goal %><br/>
		<%= f.text_field :goal %>
	</div>
	
	<div class="field">
		<%= f.label :deadline %><br/>
		<%= f.date_select :deadline %>
	</div>
  <div id="gifts">
    <%= f.fields_for :gifts do |gift| %>
      <%= render 'gift_fields', :f => gift %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add gift', f, :gifts %>
     </div>
  </div>
	<div class="field">
		<%= f.submit %>
	</div>

<% end %>
