<div class="nested-fields">
  <div class="field">
    <%= f.label :amount %>
    <br>
    <%= f.text_field :amount %>
  </div>
  <div class="field>"
    <%= f.label :package %>
    <br>
    <%= f.text_field :package %>
  </div>
  <div class="field">
    <%= f.label :delivery %>
    <br>
    <%= f.date_select :delivery%>
  </div>
  <%= link_to_remove_association "remove task", f %>
</div>
